
	
   <div class="row">
    <div class="col-md-12">
        <div class="card bg-danger  shadow-sm text-white rounded-0">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <td>Nom & Prénom</td>
                        <td>Tél</td>
                        <td>Action</td>
                    </thead>
                    <tbody>
                        {{#each contacts}}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{tel}}</td>
                            <td>
                                <a href="/contact/edit/{{id}}" class="btn btn-sm text-white"><i class="fa fa-edit"></i></a>
                                <a href="/contact/delete/{{id}}" class="btn btn-sm text-white"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>